@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: hsl(233, 47%, 7%);
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  color: #fff;
}
.card {
  background: hsl(244, 38%, 16%);
  margin: 15vh 10vw;
  display: flex;
  border-radius: 10px;
}
.main_bod {
  padding: 60px;
  /* padding: 60px 30px 60px 60px; */
  flex: 1;
}
.main_bod h1 {
  font-weight: 700;
  display: inline-block;
  margin-bottom: 30px;
  color: hsl(0, 0%, 100%);
}
.main_bod h1 span {
  color: hsl(277, 64%, 61%);
}
.main_bod p {
  display: inline-block;
  width: 85%;
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 50px;
}
.main_bod .stat {
  display: flex;
  justify-content: space-between;
  width: 80%;
  /* text-align: center; */
}
.main_bod .stat h2 {
  font-weight: 700;
}
.main_bod .stat p {
  font-family: 'Lexend Deca', sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 12px;
  letter-spacing: 0.6px;
  font-weight: 400;
  margin: 0;
}
.main_bod .stat .stb {
  height: 50%;
}
.pic {
  border-radius: 0 10px 10px 0;
  flex: 1;
  background-image: url(images/image-header-desktop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: stretch;
}
.pic-item {
  border-radius: 0 10px 10px 0;
  background: hsla(277, 95%, 25%, 0.548);
  width: 100%;
}
/* 


- Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6)



- Mobile: 375px
- Desktop: 1440px
*/

@media only screen and (max-width: 550px) {
  .card {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .main_bod .stat {
    flex-direction: column;
    width: 100%;
  }
  .main_bod p {
    margin: 0;
  }
  .main_bod .stat h2 {
    margin-top: 30px;
  }
  .pic {
   display: none;
  }
}
